extends layout

block content
  h1= title
  table
    tr
      th Адрес
      th Координаты
    each obj in content
      tr 
        td #{obj.address + ', ' + obj.city + ', ' + obj.country}
        td #{obj.coords[0] + ', ' + obj.coords[1]}
