body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border-collapse: collapse;
  max-width: 100%;
}

th {
  background-color: #33ccff;
  color: #fff;
  border: 1px solid #000;
  padding: 10px;
}

td {
  padding: 10px;
  border: 1px solid #000;
}

tr:nth-child(odd){
  background-color: #eee;
}
